*{
    margin: 0;
}

.container {
    margin: 10% auto;
    border: 3px solid rgb(229, 228, 228);
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    display: none;
    
}

button {
    margin-top: 10px;
}

#btn {
    background-color: #e81d53; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 100px;
  }

  #red{
    color:#e81d53;
  }

  .container input{
    margin:10px;
  }

  #heading{
    position: absolute;
    margin-left: 19%;
    margin-top: -40px;
    font-size: 20px;
  }